torch>=2.9
transformers==4.56.2
lm_eval==0.4.10
datasets
accelerate
tokenizers
sentencepiece
protobuf
safetensors
pomegranate
wandb
loguru
tqdm
numpy
tabulate
matplotlib
sacrebleu
langdetect
immutabledict
nltk
